{{ postEvent("Template.beforeTopBar", userAlias, userLogin, topMenu, userMenu) }}
<ul class="navbar-right">

    {% macro menuItemLabel(label) %}
        {% if label starts with 'plugins/' and label ends with '.png' and '..' not in label %}
            <img src="{{ label }}"/>
        {% elseif label starts with 'icon-' %}
            <span class="{{ label }}"/>
        {% else %}
            {{ label|translate }}
        {% endif %}
    {% endmacro %}

    {% macro topMenuItem(label, menu, currentModule, currentAction) %}
        {% if menu._html is defined %}
            <span class="item">{{ menu._html|raw }}</span>
        {% elseif (menu._url.module == currentModule and (menu._url.action is empty or menu._url.action == currentAction)) %}
            <a class="item active">{{ _self.menuItemLabel(label) }}</a>
        {% else %}
            <a {% if menu._tooltip is defined %}title="{{ menu._tooltip }}"{% endif %}
               class="item"
               id="topmenu-{{ menu._url.module|lower }}"
               href="index.php{{ menu._url|urlRewriteWithParameters }}">{{ _self.menuItemLabel(label) }}</a>
        {% endif %}
    {% endmacro %}

    {% if topMenuModule is not defined %}
        {% set topMenuModule = currentModule %}
        {% set topMenuAction = currentAction %}
    {% endif %}

    {% spaceless %}
        {% for label,menu in topMenu %}
            <li>{{ _self.topMenuItem(label, menu, topMenuModule, topMenuAction) }}</li>
        {% endfor %}
    {% endspaceless %}

</ul>